/* Global elements */

* {
    box-sizing: border-box;
}

span {
    display: inline-block;
}

.color-fill {
    background-color: #A4C639
}

/* Droid parts */

.head {
    height: 2rem;
    width: 4rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top: .5rem; /* to ensure that antennas fit in box */
}

.arm {
    width: 1rem;
    height: 3rem;
    border-radius: .5rem;
    position: relative;
    bottom: 1rem;
}

.body {
    width: 4rem;
    height: 4rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.leg {
    width: 1rem;
    height: 2rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.eye {
    width: .2rem;
    height: .2rem;
    border-radius: .1rem;
    position: relative;
    bottom: .9rem;
    background-color: #FFF;
}

    .left-eye {
        left: 1.15rem;
    }

    .right-eye {
        left: 2.05rem;
    }

.antenna {
    width: .2rem;
    height: 2rem;
    border-radius: .1rem;
    transform-origin: bottom;
    position: relative;
    bottom: .75rem;
}

    .left-antenna {
        left:1.7rem;
        transform: rotate(-30deg);
    }

    .right-antenna {
        left: 1.5rem;
        transform: rotate(30deg);
    }


/* Spacing */

.margin-placeholder {
    width: .2rem;
    height: .2rem;
}

.horiz-spacer-arm {
    width: 1rem;
}
.horiz-spacer-leg-side {
    width: .75rem;
}
.horiz-spacer-leg-between {
    width: .5rem;
}
